.env
*.pyc
__pycache__/
.venv/
.python-version
*.egg-info/
dist/
build/

# Google service account credentials
credentials/


# Node
node_modules/
package.json
package-lock.json

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# UV
uv.lock
